
.node{
    font-weight: normal;
    cursor: pointer;
}

.parent{
    font-weight:bold;
}
.row{
    :hover{
        background-color:lightblue;
    }
}
ul{
    padding-left: 0px;
    margin-left:2rem;
  }
  